@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,600&family=Play:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgImg {
  min-height: 100vh !important;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 4.5rem 15px 2rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header  */
.header {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: center;
  text-align: start;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr 0.2fr 0.2fr;
  grid-template-areas:
    "avatar name"
    "avatar desc"
    "avatar social";
    padding-bottom: 4rem;
}
#avatar {
  grid-area: avatar;
  border-color: red;
  align-items: center;
  justify-items: center;
}
#avatar .avatarImg {
  min-width: 100px!important;
  width: 70%!important;
  height: auto;
}
#name {
  font-size: 7vw;
  grid-area: name;
  font-family: 'Bricolage Grotesque', sans-serif;
}
#desc {
  font-size: 3vw;
  font-weight: 300;
  grid-area: desc;
  font-family: 'Bricolage Grotesque', sans-serif;
}
#social {
  grid-area: social;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.2rem;
}
#social a{
  text-decoration: none;
  color: black;
}
#social a:hover{
  color: #f1c018;
}
#social a svg{
  width: 1.7rem;
  height: 1.7rem;
}

/* content  */
.Content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
    "youtube link1 "
    "youtube link2 "
    "youtube link3 "
    "youtube link4 "
    "youtube link5 ";
  grid-gap: 1.3rem;
  text-align: center;
}
.Content a {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: #1a1311;
  background-color: #fffcf3;
  border: 0.1rem solid #1a1311;
}
.Content a:hover{
  background-color: #25c7a4!important;
  color: #1a1311!important;
}
#youtube {
  overflow: hidden;
  grid-area: youtube;
  background-color: #fffcf3;
  border: 0.1rem solid #1a1311;
  padding: 1rem;
  text-align: start;
}
#youtube iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-bottom: 0.5rem;
}
#youtube a{
  border: none;
  justify-content: start;
  margin-top: 0.5rem;
  display: inline-block;
}
#youtube a:hover{
  background-color: transparent!important;
}

#link1 {
  grid-area: link1;
}
#link2 {
  grid-area: link2;
}
#link3 {
  grid-area: link3;
}
#link4 {
  grid-area: link4;
}
#link5 {
  grid-area: link5;
  background-color: #1a1311;
  color: white;
}

.footer{
  padding-top: 4rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
}

@media only screen and (width < 1100px) {
  .bgImg {
    background-position: right;
  }
}

@media only screen and (max-width:769px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "avatar"
      "name"
      "desc"
      "social";
    justify-items: center;
    align-items: center;
  }

  #avatar {
    display: grid;
  }

  #avatar img {
    width: 35%;
  }
  #name{
    font-size: 10vw;
  }
  #desc{
    font-size: 7vw;
  }
  #social{
  justify-content: center;
  gap: 1.7rem;
  }
  #social a svg{
    width: 1.4rem;
    height: 1.4rem;
  }
  .Content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
      "youtube"
      "link1"
      "link2"
      "link3"
      "link4"
      "link5";
  }
  .Content a{
    font-size: 5vw;
  }
  .footer{
    font-size: 4vw;
  }
}
